<p id="notice"><%= notice %></p>

<%= form_with(url: '/players', method: 'get', local: true) do %>
  <%= label_tag "Select Player: " %>
  <%= select_tag :player_name, options_for_select(@players_names, params[:player_name]) %>
  <%= submit_tag("Select") %>
<% end %>

<%= form_with(url: '/players', method: 'get', local: true) do %>
  <%= label_tag "Sort by: " %>
  <%= select_tag :sort, options_for_select([["Total Rushing Yards", "yds"], ["Longest Rush", "lng"], ["Total Rushing Touchdowns", "td"]], params[:sort]) %>
  <%= label_tag "Order: " %>
  <%= select_tag :order, options_for_select([["Descending", "DESC"], ["Ascending", "ASC"]], params[:order]) %>
  <%= submit_tag("Update") %>
<% end %>

<%= link_to "Download as CSV", players_path(:format => "csv", :player_name => params[:player_name], :commit => params[:commit], :order => params[:order], :sort => params[:sort]) %>

<h1>Players</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Pos</th>
      <th>Att g</th>
      <th>Att</th>
      <th>Yds</th>
      <th>Avg</th>
      <th>Yds g</th>
      <th>Td</th>
      <th>Lng</th>
      <th>Rfd</th>
      <th>Rfdp</th>
      <th>Rush20</th>
      <th>Rush40</th>
      <th>Fum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.team %></td>
        <td><%= player.pos %></td>
        <td><%= player.att_g %></td>
        <td><%= player.att %></td>
        <td><%= player.yds %></td>
        <td><%= player.avg %></td>
        <td><%= player.yds_g %></td>
        <td><%= player.td %></td>
        <td><%= player.lng.to_s + player.lng_t %></td>
        <td><%= player.rfd %></td>
        <td><%= player.rfdp %></td>
        <td><%= player.rush20 %></td>
        <td><%= player.rush40 %></td>
        <td><%= player.fum %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
