<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @player.team %>
</p>

<p>
  <strong>Pos:</strong>
  <%= @player.pos %>
</p>

<p>
  <strong>Att g:</strong>
  <%= @player.att_g %>
</p>

<p>
  <strong>Att:</strong>
  <%= @player.att %>
</p>

<p>
  <strong>Yds:</strong>
  <%= @player.yds %>
</p>

<p>
  <strong>Avg:</strong>
  <%= @player.avg %>
</p>

<p>
  <strong>Yds g:</strong>
  <%= @player.yds_g %>
</p>

<p>
  <strong>Td:</strong>
  <%= @player.td %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @player.lng %>
</p>

<p>
  <strong>Lng t:</strong>
  <%= @player.lng_t %>
</p>

<p>
  <strong>Rfd:</strong>
  <%= @player.rfd %>
</p>

<p>
  <strong>Rfdp:</strong>
  <%= @player.rfdp %>
</p>

<p>
  <strong>Rush20:</strong>
  <%= @player.rush20 %>
</p>

<p>
  <strong>Rush40:</strong>
  <%= @player.rush40 %>
</p>

<p>
  <strong>Fum:</strong>
  <%= @player.fum %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
